html, body {
  height: 100%;
  width: 100%;
}
.valid {
	color: #0000ff;
	font-weight: bold;
}

.player {
	font-weight: bold;
	font-size: 10pt;
	position: absolute;
	top: 50px;
	height: 100px;
	width: 150px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
#p1 {
	left: 10px;
	background-color: #ff9999;
}
#p2 {
	left: 660px;
	background-color: #9999ff;
}

#inputBox {
	position: absolute;
	z-index: 100;
	background-color: #cccccc;
	width: 120px;
	top: 50px;
	left: 10px;
}

#resultPara {
	position: absolute;
	top: 170px;
	/*left: 180px;*/
	width: 200px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #cccccc;
}
#wordball {
	position: absolute;
	z-index: 99;
	top: 100px;
	left: 360px;
	width: 100px;
	height: 40px;
	background-color: #cccccc;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	/*visibility: hidden;*/
}
#patternPara {
	position: absolute;
	top: 0px;
	left: 200px;
	width: 400px;
	visibility: hidden;
	font-weight: bold;
	font-size: 14pt;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
h3 {
	font-weight: normal;
	color: #0000ff;
	font-size: 8pt;
	margin: 2%;
	padding: 0;
}